@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700;800&display=swap');
/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */
body * {
    font-family: 'Syne', sans-serif;
}

/* On applique la couleur noir sur les paragraphes */
p {
    color: #000000;
}

/* HEADER */

#ast-desktop-header .ast-container {
    padding-left: 30px;
    padding-right: 0;
    max-width: 100%;
}

/* LIENS DU MENU */ 
#ast-desktop-header li.menu-item a {
    color: #000000;
    display: inline-block;
    text-align: center;
    padding: 0 60px 0 0;
}

#ast-desktop-header li.menu-item:last-child a {
    color: white;
    background: #DC9F96;
    padding: 0 60px;
}

#ast-desktop-header li.menu-item:last-child a:hover {
    color: white;
    background: #C02E44;
}


/* FORMULAIRE */

.wpforms-container #wpforms-form-220 input, #wpforms-form-220 textarea {
    border: none;
}

.wpforms-required-label {
    display: none;
}

.wpforms-container input#wpforms-220-field_0, input#wpforms-220-field_1 {
    max-width: 100%;
    height: 60px;
    border-radius: 7px;
}

#wpforms-form-220 textarea {
    height: 235px;
    resize: none;
}

.wpforms-container #wpforms-submit-220, #wpforms-submit-324 {
    color: white;
    background: #DC9F96;
    font-size: 17px;
    font-weight: 400;
    height: 55px;
    width: 200px;
    border-radius: 5px;
}

.wpforms-container #wpforms-submit-220:hover, #wpforms-submit-324:hover {
    background: #C02E44;
}

.wpforms-submit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
}

.wpforms-container #wpforms-form-220 .wpforms-submit-container {
    padding-top: 0;
}

.form_width {
    width: 250px;
}



/* FOOTER */
#colophon li.menu-item a:hover
{
    color: #3B8E46;
}


/* Formulaire Commande */

#wpforms-form-324 .wpforms-field-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#wpforms-form-324 .wpforms-field {
    width: 50% !important;
    margin: 0;
}

#wpforms-324 #wpforms-form-324 input {
    max-width: 90%;
    height: 60px;
    border-radius: 7px;
}

.vertical-line {
    border-left: 1px solid #FFF;
    height: 430px;
  }

.conteneur_canette .elementor-container {
    display: flex;
    max-width: 700px;
    height: 500px;
    margin: 0 auto;
}

.feuille_1 img {
    position: absolute;
    right: -50px;
    z-index: 1;
}

.feuille_2 img {
    position: absolute;
    left: -50px;
    z-index: 1;
}

.canette img {
    height: 700px !important;
    width: auto !important;
    z-index: 2;
}

